.tsp_form_element label{
	width: 300px;
	float: left;
	clear: left;
}
.tsp_form_element {
	padding-bottom: 10px;
}
.tsp_container #tsp_icon-options-general.tsp_icon {
	 background: url("../../images/tsp_icon.png") no-repeat scroll left top transparent;
	 background-size: 35px 35px;
	 margin-top: -10px;
}
.tsp_container fieldset{
	padding-top: 20px;
}

/* Alert Styles */
div.note, div.alert, div.info, div.email, div.download, div.warn, div.idea, div.accept, div.accept, div.secure, div.author, div.time, div.mycomment, div.tools {
	text-align: left;
	padding: 20px 10px 20px 70px;
	border: 2px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	margin: 15px 0px 15px 0px;
	line-height: 150%;
	font-size: 1em;
	width: 500px;
}
div.note a, div.alert a, div.info a, div.email a, div.download a, div.warn a, div.idea a, div.accept a, div.accept a, div.secure a, div.author a, div.time a, div.mycomment a, div.tools a {
	font-weight:bold;
}
div.note {
	background:#FEF6D8 url(../../images/icons/24/folder.png) no-repeat 10px 50%;
	border-color:#FDE179;
	color:#B79000;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: #fff 1px 1px 0;
	-webkit-text-shadow: #fff 1px 1px 0;
}
div.note a {
	color:#B79000;
}
div.alert {
	background: #FFD6D6 url(../../images/icons/24/alert.png) no-repeat 10px 50%;
	border-color: #FE7B7A;
	color: #CC0000;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	text-shadow: #eff6ff 1px 1px 0;
	-moz-text-shadow: #eff6ff 1px 1px 0;
	-webkit-text-shadow: #eff6ff 1px 1px 0;
}
div.alert a {
	color: #CC0000;
}
div.info {
	background: #D8E5F8 url(../../images/icons/24/info.png) no-repeat 10px 50%;
	border-color: #9ebbe1;
	color: #0055BB;
	text-shadow: #f4f8ff 1px 1px 0;
	-moz-text-shadow: #f4f8ff 1px 1px 0;
	-webkit-text-shadow: #f4f8ff 1px 1px 0;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
}
div.info a {
	color: #0055BB;
}
div.warn {
	background: #ffd758 url(../../images/icons/24/warn.png) no-repeat 10px 50%;
	border-color: #ffb30a;
	color: #7F5600;
	box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-moz-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-webkit-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	text-shadow: #fff0c0 1px 1px 0;
	-moz-text-shadow: #fff0c0 1px 1px 0;
	-webkit-text-shadow: #fff0c0 1px 1px 0;
}
div.warn a {
	color: #7F5600;
}
div.accept {
	background: #b3de7e url(../../images/icons/24/accept2.png) no-repeat 10px 50%;
	border-color: #3a9805;
	color: #4C6F22;
	text-shadow: #cdf49e 1px 1px 0;
	-moz-text-shadow: #cdf49e 1px 1px 0;
	-webkit-text-shadow: #cdf49e 1px 1px 0;
	box-shadow: 1px 1px 0 #a3e256 inset, -1px -1px 0 #a3e256 inset;
	-moz-box-shadow: 1px 1px 0 #a3e256 inset, -1px -1px 0 #a3e256 inset;
	-webkit-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
}
div.accept a {
	color: #4C6F22;
}
div.email {
	background: #f3eed3 url(../../images/icons/24/email.png) no-repeat 10px 50%;
	border-color: #deb600;
	color: #3e3e3e;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: #fff 1px 1px 0;
	-webkit-text-shadow: #fff 1px 1px 0;
}
div.email a {
	color: #988217;
}
div.download {
	background: #EEF7DD url(../../images/icons/24/download.png) no-repeat 10px 50%;
	border-color: #C2DF88;
	color: #57861A;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	text-shadow: #eff6ff 1px 1px 0;
	-moz-text-shadow: #eff6ff 1px 1px 0;
	-webkit-text-shadow: #eff6ff 1px 1px 0;
}
div.download a {
	color: #57861A;
}
div.idea {
	background: #fdfbb9 url(../../images/icons/24/idea.png) no-repeat 10px 50%;
	border-color: #d0a21e;
	color: #000;
	box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	text-shadow: #fdfced 1px 1px 0;
	-moz-text-shadow: #fdfced 1px 1px 0;
	-webkit-text-shadow: #fdfced 1px 1px 0;
}
div.idea a {
}
div.secure {
	background: #f2f2f2 url(../../images/icons/24/secure.png) no-repeat 10px 50%;
	border-color: #dfdfdf;
	box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	color: #000;
}
div.secure a {
	color: #3d52a6;
}
div.author {
	background: #f2f2f2 url(../../images/icons/24/author.png) no-repeat 10px 50%;
	border-color: #e5c405;
	color: #000;
}
div.author a {
	color: #c0a71e;
}
div.mycomment {
	background: #e8f6fc url(../../images/icons/24/comment.png) no-repeat 10px 50%;
	border-color: #89b4c2;
	color: #000;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: #fff 1px 1px 0;
	-webkit-text-shadow: #fff 1px 1px 0;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
}
div.mycomment a {
	color: #6e9099;
}
div.twitter {
	background: #e8f6fc url(../../images/icons/24/twitter.png) no-repeat 10px 50%;
	border-color: #89b4c2;
	color: #000;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: #fff 1px 1px 0;
	-webkit-text-shadow: #fff 1px 1px 0;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
}
div.twitter a {
	color: #6e9099;
}
div.tools {
	background: #F7F9FF url(../../images/icons/24/tools.png) no-repeat 10px 50%;
	border-color: #B5B6B5;
	color: #393E40;
	text-shadow: #fff 1px 1px 0;
	-moz-text-shadow: #fff 1px 1px 0;
	-webkit-text-shadow: #fff 1px 1px 0;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
}
div.tools a {
	color: #6e9099;
}
div.custom_note {
	padding: 10px 5px;
	background: transparent none;
	border-color: #FE7B7A;
	color: #CC0000;
	box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-moz-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	-webkit-box-shadow: 1px 1px 0 #eff6ff inset, -1px -1px 0 #eff6ff inset;
	text-shadow: #eff6ff 1px 1px 0;
	-moz-text-shadow: #eff6ff 1px 1px 0;
	-webkit-text-shadow: #eff6ff 1px 1px 0;
}
div.custom_note a {
	color: #CC0000;
}
div.time {
	background: #f7f9ff url(../../images/icons/24/time.png) no-repeat 10px 50%;
	border-color: #777;
	color: #37494f;
}
div.time a {
	color: #923232;
}